body {
    font-family: sans-serif;
}

header {
    background-color: blue;
    padding: 10px;
}

main h1 {
    text-align: center;
}

a {
    background-color: yellow;
    text-decoration: none;
    border-radius: 5px;
    padding: 4px;
}

main img {
    margin-top: 20px;
}

main h2 {
    color: red;
    font-size: 30px
}

ul {
    list-style: url(" https://learn.algoritmika.org/uploads/2021/01/Arrow%201_0_1611261359.svg");
}

main h3 {
    text-align: center;
    font-size: 30px;
    padding:  50px;
    border-top:3px solid black ;
    border-bottom:3px solid black ;
}

footer {
    background-color: blue;
    padding: 10px;
}

footer p {
    color: rgb(255, 255, 255);
}
